body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inconsolata", monospace;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#clock {
  font-size: 70px;
  margin-bottom: 80px;
}

#loginForm {
  margin-bottom: 20px;
}

#loginForm input {
  width: 160px;
  height: 30px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 18px 2px rgba(4, 5, 4, 0.89);
  cursor: pointer;
}

#loginForm input:hover {
  box-shadow: 0px 1px 18px 10px tomato;
}

#loginForm button {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loginForm button:hover {
  box-shadow: 0px 1px 18px 10px #85b5ff;
}

#greeting {
  font-size: 50px;
  margin-bottom: 30px;
}

#todoForm input {
  width: 300px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  background-color: rgba(4, 5, 4, 0);
  cursor: pointer;
}

#todolist li {
  margin: 10px 0;
}

#todolist li span {
  font-size: 25px;
  margin: 0 10px;
}

#todolist li button {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: #e3dede;
  background-color: #a3a1a1;
}

#todolist li button:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  transition: all 0.2s linear;
  cursor: pointer;
}

#weather {
  position: fixed;
  top: 10px;
  right: 20px;
}

#weather span {
  font-size: 20px;
}
